---
// Your imports
// import { useRouter } from "astro:router";
import Layout from "../layouts/Layout.astro";

// const router = useRouter();

const links: any = [
  { href: "/choral-sightreading", text: "Choral Sight Reading" },
  { href: "/sightreading", text: "Sight Reading" },
  { href: "/rhythm-game", text: "Rhythm Game" },
];
---

<Layout title="ABC Sight Reading - Home">
  <div class="flex mt-10 flex-col gap-4 items-center">
    {
      links.map((link: any) => (
        <a href={link.href} class="text-lg hover:underline">
          {link.text}
        </a>
      ))
    }
  </div>
</Layout>
