---
import Navbar from "../components/Navbar.svelte";
import "../styles/globals.css";
import "abcjs/abcjs-audio.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description = "A music sight reading practice app" } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-gray-50">
    <header class="fixed top-0 w-full z-10">
      <Navbar client:only="svelte" />
    </header>
    <main class="container mx-auto px-4 pt-24">
      <slot />
    </main>
  </body>
</html>
